<div id="wrapper">

							<section id="footer">
								<ul class="icons">
									<li><a href="http://twitter.com/" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									{% comment %}<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>{% endcomment %}
								</ul>
							</section>

</div>
